<ul id="apis">
    <% var api_endpoint_index = 0 %>
    
        <h2 class="test-label">
          User Onboarding
        </h2>
            <% var inputId = 'api_endpoint_1' %>

                <div>
                    <label>
                      Username in form of email:
                      <input id="username" size="80" value="<%= '' %>">
                    </label>
                    
                    <p></p>

                    <label>
                        First Name:
                        <input id="firstname" size="80" value="<%= '' %>">
                    </label>

                    <p></p>
                    
                    <label>
                        Last Name:
                        <input id="lastname" size="80" value="<%= '' %>">
                    </label>

                    <p></p>

                      <label>
                        Groups:
                        <input id="groups" size="80" value="<%= '' %>">
                      </label>

                    <p></p>  

                      <% let activate = "true" ? "activate" : "false" %>
                      <label>
                        Activate
                        <input id="activateopt" type="checkbox" name="activate" <%= activate %> />
                      </label>
                    
                    <p></p>

                    <button id="usersubmit">Submit</button>
                  </div>
                
                  <pre id="<%= inputId %>_result"></pre>
        
                  <script>
                    (function () {
                      var input;
                      var button;
                      var result;
                      var url;
        
                      button = document.getElementById('<%= inputId %>_button');
        
                      button.addEventListener('click', function () {
                        input = document.getElementById('<%= inputId %>');
                        result = document.getElementById('<%= inputId %>_result');
                        url = new URL(document.location + '../../../dashboard/service/<%= 'test' %>');
        
                        result.innerHTML = '';
        
                        url.search = new URLSearchParams({url: input.value});
        
                        fetch(url, {
                          credentials: 'include'
                        })
                          .then(function (data) {
                            return data.json();
                          })
                          .then(function (data) {
                            result.innerHTML = JSON.stringify(data, null, ' ');
                          });
                      });
                    }())
                  </script>

        <h3 class="Termination-label">
            User Force Session End
          </h3>
              <% var inputId = 'api_endpoint_2' %>
  
                  <div>
                      <label>
                        Username in form of email:
                        <input id="terminateusername" size="80" value="<%= '' %>">
                      </label>
                      
                      <p></p>
  
                      <button id="terminatesubmit">Terminate</button>
                    </div>
                  
                    <pre id="<%= inputId %>_result"></pre>
          
                    <script>
                      (function () {
                        var input;
                        var button;
                        var result;
                        var url;
          
                        button = document.getElementById('<%= inputId %>_button');
          
                        button.addEventListener('click', function () {
                          input = document.getElementById('terminateusername');
                          result = document.getElementById('<%= inputId %>_result');
                          url = new URL(document.location + '../../../dashboard/service/<%= 'test' %>');
          
                          result.innerHTML = '';
          
                          url.search = new URLSearchParams({url: input.value});
          
                          fetch(url, {
                            credentials: 'include'
                          })
                            .then(function (data) {
                              return data.json();
                            })
                            .then(function (data) {
                              result.innerHTML = JSON.stringify(data, null, ' ');
                            });
                        });
                      }())
                    </script>

</ul>
        